* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 14px;
  line-height: 1.5rem;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  color: #333333;
}

#overlay {
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  left: 0;
  top: 0;
  opacity: 0.95;
}

a {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  color: #277f80;
  transition: color 0.1s linear;

  &:hover {
    color: darken(#2C9696, 20%);
  }
}

p {
  line-height: 1.5rem;
}

#overlay {
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  left: 0;
  top: 0;
  opacity: 0.9;
}

.header {
  background-color: white;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #CCCCCC;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.07);

  &__logo {
    font-weight: bold;
    text-decoration: none;
  }
}

.container {
  width: 970px;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}

.git {
  &__header {
    display: flex;
    justify-content: space-between;

    &__left {
      & a {
        font-weight: bold;
      }

      & div {
        margin-top: 0.7rem;
      }
    }
  }

  & .tabs {
    margin-top: 2rem;
  }

  &__summary {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }

  &__latest-commits {
    list-style: none;
    width: 520px;

    & li {
      display: block;
      background-color: #EFEFEF;
      border: 1px solid #CCCCCC;
      border-radius: 4px;
      padding: 0.7rem;
      margin-bottom: 1.2rem;

      &:last-child {
        margin-bottom: 0;
      }

      & div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 0.7rem;

        & p {
          &:first-child {
            display: flex;
            align-items: center;
          }
        }

        & a {
          font-weight: bold;
          margin-right: 0.3rem;
        }

        & img {
          margin-left: 0.3rem;
          margin-right: 0.3rem;
        }
      }
    }
  }

  &__clone {
    width: 390px;

    &__title {
      font-weight: bold;
      margin-bottom: 0.7rem;
    }

    &__item {
      margin-bottom: 1rem;
      
      & span {
        font-weight: bold;
      }
    }
  }
}

input[type="text"], input[type="email"], input[type="password"] {
  font-size: 14px;
  border-radius: 2px;
  border: 1px solid #CCCCCC;
  padding: 0.5rem;
  width: 100%;
  box-shadow: inset 0 0 7px rgba(103, 92, 16, 0.1);
}

.readme {
  margin-top: 2rem;
  border: 1px solid #CCCCCC;
  border-radius: 4px;

  &__title {
    font-weight: bold;
    padding: 0.7rem;
    background-color: #EFEFEF;
    border-bottom: 1px solid #CCCCCC;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  &__content {
    padding: 0.7rem;
  }
}
