* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 14px;
  line-height: 0.9rem;
}

body {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  color: #333333;
  background-image: url('/public/img/texture.png');
  background-color: #feffff;
}

a {
  font-family: "Mulish", sans-serif;
  font-size: 14px;
  color: #2C9696;
  transition: color 0.1s linear;

  &:hover {
    color: darken(#2C9696, 15%);
  }
}

#overlay {
  position: fixed;
  z-index: 999999;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  left: 0;
  top: 0;
  opacity: 0.9;
}

.header {
  background-color: white;
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #CCCCCC;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.07);

  &__logo {
    font-weight: bold;
    text-decoration: none;
  }
}

.container {
  width: 970px;
  margin: 0 auto;
  padding: 1.5rem 1rem;
}

.git {
  &__header {
    display: flex;
    justify-content: space-between;

    &__left {
      & a {
        font-weight: bold;
      }

      & div {
        margin-top: 0.7rem;
      }
    }
  }

  & .tabs {
    margin-top: 2rem;
  }
}
